<div class="content-wrapper">
  <section class="">
    <div class="container" ng-init="getAvailableProviders();">
      <h3>Send Notification4343</h3>
      <form class="form-horizontal" name="addForm">
        <div class="panel-body box">
          <div class="col-sm-6">
            <div class="form-group">
              <label
                class="control-label col-sm-12"
                for="pwd"
                style="text-align: left;"
                >State :</label
              >
              <div class="col-sm-12" style="padding: 10px;">
                <select
                  class="form-control"
                  id=""
                  placeholder="State"
                  name="state"
                  ng-model="template.state"
                  ng-options="items.abbreviation as items.abbreviation for items in usStates"
                ></select>
              </div>
            </div>
            <div class="form-group">
              <label
                class="control-label col-sm-12"
                for=""
                style="text-align: left;"
                >Select Insurance :</label
              >
              <div class="col-sm-12">
                <ui-select
                  close-on-select="false"
                  multiple
                  sortable="true"
                  name="insurance"
                  id="insurance"
                  ng-model="template.insurance"
                  class="formSelect2 height-auto selectpicker form-control"
                  tabindex="1"
                  theme="select2"
                  title="Choose a insurance"
                >
                  <ui-select-match placeholder="Search a insurance"
                    >{{$item.name}}</ui-select-match
                  >
                  <ui-select-choices
                    repeat="item._id as item in networkData | filter: $select.search"
                  >
                    <div
                      ng-bind-html="item.name | highlight: $select.search"
                    ></div>
                  </ui-select-choices>
                </ui-select>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label
                class="control-label col-sm-12"
                for=""
                style="text-align: left;"
                >Select speciality :</label
              >
              <div class="col-sm-12">
                <ui-select
                  close-on-select="false"
                  multiple
                  sortable="true"
                  name="speciality"
                  id="speciality"
                  ng-model="template.speciality"
                  class="formSelect2 height-auto selectpicker form-control"
                  tabindex="1"
                  theme="select2"
                  title="Choose speciality"
                >
                  <ui-select-match placeholder="Search speciality"
                    >{{$item.specialityName}}</ui-select-match
                  >
                  <ui-select-choices
                    repeat="item._id as item in specialityData | filter: $select.search"
                  >
                    <div
                      ng-bind-html="item.specialityName | highlight: $select.search"
                    ></div>
                  </ui-select-choices>
                </ui-select>
              </div>
            </div>
            <div class="form-group">
              <label
                class="control-label col-sm-12"
                for=""
                style="text-align: left;"
                >Select Provider :</label
              >
              <div class="col-sm-12">
                <ui-select
                  close-on-select="false"
                  multiple
                  sortable="true"
                  name="provider"
                  id="provider"
                  ng-model="template.provider"
                  class="formSelect2 height-auto selectpicker form-control"
                  tabindex="1"
                  theme="select2"
                  title="Choose a provider"
                >
                  <ui-select-match placeholder="Search a provider"
                    >{{$item.fullname}}</ui-select-match
                  >
                  <ui-select-choices
                    repeat="item._id as item in providerData | filter: { fullname: $select.search}"
                  >
                    <div
                      ng-bind-html="item.fullname | highlight: $select.search"
                    ></div>
                  </ui-select-choices>
                </ui-select>
              </div>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="form-group">
          <label
            class="control-label col-sm-3"
            for="pwd"
            style="text-align: left;"
            >Subject:</label
          >
          <div class="col-sm-8">
            <input
              type="text"
              name="subject"
              class="form-control"
              ng-model="template.subject"
              contenteditable="true"
              spellcheck="true"
              required
            />
            <!-- <input type="hidden" class="form-control" ng-model="template._id">  -->
            <span
              ng-if="addForm.subject.$touched && addForm.subject.$dirty && addForm.subject.$error.required"
              class="help-block"
              style="color: maroon;"
              spellcheck="true"
            ></span>
          </div>
        </div>
        <div class="form-group">
          <label
            class="control-label col-sm-3"
            for="pwd"
            style="text-align: left;"
            >Message Body :</label
          >
          <div class="col-sm-8">
            <!-- <text-angular ng-model="template.body" required ta-toolbar="[['h1','h2','h3','h4','h5','h6'],['bold','italics','underline'],['justifyLeft','justifyCenter','justifyRight'], ['insertLink','wordcount']]" ></text-angular> -->
            <textarea
              class="form-control"
              ng-model="template.body"
              contenteditable="true"
              spellcheck="true"
              style="height: 200px;"
              required
            ></textarea>
            <span
              ng-if="addForm.body.$touched && addForm.body.$dirty && addForm.body.$error.required"
              class="help-block"
              style="color: maroon;"
              spellcheck="true"
              >Body is required</span
            >
          </div>
        </div>
        <div class="form-group">
          <label
            class="control-label col-sm-3"
            for=""
            style="text-align: left;"
          ></label>
          <div class="col-sm-8">
            <button
              type="submit"
              class="btn btn-primary"
              ng-click="sendNotification(template);"
              ng-disabled="addForm.$invalid"
            >
              Send
            </button>
          </div>
        </div>
      </form>
    </div>
  </section>
</div>
register
