<div class="content-wrapper">
    <section class="">
        <div class="container" ng-init="getNetwork()">
            <h3>{{pageTitle}}</h3>
            <form class="form-horizontal" name="form">

                <div class="form-group required">
                    <label class="control-label col-sm-3" for="pwd" style="text-align:left"> Name :</label>
                    <div class="col-sm-8">
                        <input type="hidden" name='_id' ng-model="network._id">
                        <input type="text" class="form-control" id="" placeholder="Name" name="name" ng-pattern="/^[a-zA-Z0-9 '\s]*$/" ng-model="network.name"
                            required>
                        <span ng-if="form.name.$touched && form.name.$dirty && form.name.$error.required" class="help-block" style="color:maroon"
                            required> Name required</span>
                        <span class="" ng-show="form.name.$error.pattern" style="color:maroon">Name should not contain any special character.</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3" for="pwd" style="text-align:left">Description :</label>
                    <div class="col-sm-8">
                        <input type="textarea" class="form-control" id="" placeholder="Description" name="desc" ng-model="network.desc">
                        <span ng-show="form.desc.$touched && form.desc.$error.required && form.desc.$dirty" class="help-block" style="color:maroon"
                            required>Description is Required</span>
                    </div>
                </div>

                <div class="form-group required">
                    <label for="email" class="control-label col-sm-3" style=" text-align:left">Email:</label>
                    <div class="col-sm-8">
                        <input type="email" class="form-control" id="email" placeholder="Email ID" name="email" ng-model="network.email" ng-pattern="/^[_a-zA-Z0-9-]+(\.[_a-zA-Z0-9-]+)*@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*(\.[a-zA-Z]{2,4})$/"
                            required>
                        <span ng-if="form.email.$touched && form.email.$dirty && form.email.$error.required" class="help-block" style="color:maroon"
                            required>Email required.</span>
                        <span class="" ng-show="form.email.$error.pattern" style="color:maroon">Invalid email address.</span>
                    </div>
                </div>


                <div class="form-group ">
                    <label for="privateGroup"  class="control-label col-sm-3" style=" text-align:left; margin-top: 15px; ">Private Group:</label>
                    <div class="col-sm-8">
                        <label class="radio-inline"><input type="radio" name="privateGroup" value="true" ng-checked="network.privateGroup==true" ng-model="network.privateGroup">Yes</label>
                        <label class="radio-inline"><input type="radio" name="privateGroup" value="false" ng-checked="network.privateGroup==false" ng-checked="!network.privateGroup" ng-model="network.privateGroup" >No</label>
                        <span ng-if="form.privateGroup.$touched && form.privateGroup.$dirty && form.privateGroup.$error.required" class="help-block" style="color:maroon"
                            required>Private Group must be selected.</span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-3" for="" style="text-align:left"></label>
                    <div class="col-sm-8">
                        <a href="#/insurancedashboard"><button type="button" class="btn btn-primary" >Back to Dashboard</button></a>
                        <button type="submit" class="btn btn-primary" ng-click="addNetwork(network); done=true" ng-disabled="form.$invalid || done">{{btnTitle}}</button>
                    </div>
                </div>
            </form>
        </div>
</div>