<div class="content-wrapper">
    <section class="content">
        <div class="row" ng-init="getInvitationList();">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="box">
                    <div class="box-header with-border super-patient-header">
                        <div class="row">
                            <div ng-repeat="log in InvitationList" class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                                <div ng-show="$first">
                                    <h3 class="box-title"><span class="latest-c-icon">
                                    <img src="../assets/images/latest_order_icon.png" alt=""/></span> Invitation logs for
                                        <b>{{log.sentTo.firstname | capitalize}} {{log.sentTo.lastname | capitalize}}</b>
                                    </h3>
                                </div>
                            </div>
                            <!-- <div><div excel-export-actv export-data="exportData" file-name="{{fileName}}" style="float: right;"></div></div>  -->
                            <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                                <div class="row form-control-margin-top">
                                    <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12 text-right">
                                        <div class="form-group">
                                             <div class="input-group">
                                                <div class="input-group-addon"><i class="fa fa-clock-o"></i></div>
                                                <input class="form-control pull-right" date-range-picker id="daterange2" name="daterange2" class="form-control date-picker" type="text"  options="opts" ng-model="invitationUserActvDate"
                                                ng-change="getInvitationList()"
                                                />
                                            </div> 
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-body" style="margin-top: auto;">
                        <div style="position: absolute;top: 50%;left: 50%; z-index: 1000;" ng-if="loading">
                            <i class='fa fa-refresh fa-spin fa-3x' style="color: #3eb8d7;"></i>
                        </div>
                        <div class="table-responsive min-margin-15">
                            <table ng-table="tableParams" class="table table-striped" show-filter="true">
                                <tr ng-repeat="log in InvitationList">
                                    <td title="'Provider Name (Invitation Sent)'">{{log.sentBy.firstname | capitalize}} {{log.sentBy.lastname | capitalize}}</td>
                                    <!-- <td title="'Total Invitatation'">{{}}</td> -->
                                    <td title="'Email'">{{log.sentBy.email}}</td>
                                    <td title="'Invitation Date'" sortable="'invitationDate'">{{log.invitationDate | date:'MMM d, yyyy h:mm a'}}</td>
                                    <!-- <td title="'Actions'">
                                        <span title="View"><a ui-sref="viewInvitationSenderList({id:log.sentTo})" style="cursor:pointer"><i class="icon-2x fa fa-users" style="font-size:2em"></i></a></span>
                                    </td>  -->
                                </tr>
                                <tr ng-if="tableLoader">
                                    <td colspan="4" align="center"><i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i></td>
                                </tr>
                                <tr ng-if="InvitationList.length == 0 && !tableLoader">
                                    <td colspan="4" align="center">No record Found</td>
                                </tr>
                            </table>
                        </div>
                                <div class="form-group">
            <label class="control-label col-sm-3" for="" style="text-align:left"></label>
            <div class="col-sm-8" style="float: right;">
                <a href="/super-admin/#/invitation-log"><button type="button" class="btn btn-primary" >Back To Invitation Logs</button></a>
                <!-- <button type="submit" class="btn btn-primary" ng-click="updateNonRegDoc(doctor); done=true" ng-disabled="editForm.$invalid || done">Click to update</button> -->
            </div>
        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>