<style>
    .pdf_table table td {
        border: none !important;
    }
    
    .pdf_table .from-input {
        float: none !important;
        width: 100% !important;
    }
    
    .pdf_table .form-group .from-label {
        text-align: left !important;
        width: auto !important;
    }
</style>
<div class="login-box" ng-controller="userLoginController">
    <div class="login-logo">
        <a href="/#"><img src="./../../assets/images/logo_new.png" alt="logo" /></a>
    </div>
    <div class="login-box-body">
        <h2 class="login-box-msg">Reset Password</h2>
        <form name="updatePass" ng-submit="updatePassword();" autocomplete="off">

            <div class="form-group required">
                <label for="newpass" class="control-label" style="margin-top: 15px; ">New Password:</label>
                <input type="password"  tabindex="1" class="form-control" id="newpass" placeholder="New Password" name="newpass" ng-model="updateUserPass.newpass" tabindex="2" password-verify="{{updateUserPass.confPass}}" ng-pattern="/^(?=\S*[a-z])(?=\S*[A-Z])(?=\S*\d)(?=\S*[^\w\s])\S{8,}$/" required>
                <span ng-if="updatePass.newpass.$touched && updatePass.newpass.$dirty && updatePass.newpass.$error.required" class="help-block" style="color:maroon">New password is required</span>
                <span ng-if="updatePass.newpass.$touched && updatePass.newpass.$error.passwordVerify && !updatePass.newpass.$error.required" class="help-block" style="color:maroon">New password and confirm password does not match.</span>
                <span class="" ng-show="updatePass.newpass.$error.pattern" style="color:maroon">Password should be atleast 8 characters, containing one number one lowercase and uppercase one special character.</span>
            </div>
            <div class="form-group required">
                <label for="confPass" class="control-label" style="margin-top: 15px; ">Confirm Password:</label>
                <input type="password" tabindex="2" class="form-control" id="confPass" placeholder="Confirm Password" name="confPass" ng-model="updateUserPass.confPass" tabindex="3" required password-verify="{{updateUserPass.newpass}}" ng-pattern="/^(?=\S*[a-z])(?=\S*[A-Z])(?=\S*\d)(?=\S*[^\w\s])\S{8,}$/">
                <span ng-if="updatePass.confPass.$touched && updatePass.confPass.$dirty && updatePass.confPass.$error.required" class="help-block" style="color:maroon">Confirm password is required</span>
                <span ng-if=" updatePass.confPass.$touched && updatePass.confPass.$error.passwordVerify && !updatePass.confPass.$error.required" class="help-block" style="color:maroon">New password and confirm password does not match.</span>
                <span class="" ng-show="updatePass.confPass.$error.pattern" style="color:maroon">Password should be atleast 8 characters, containing one number one lowercase and uppercase one special character.</span>
            </div>
            <button type="submit" class="btn btn-primary" tabindex="3" tabindex="12" ng-disabled="updatePass.$invalid">Update Password</button>
        </form>
        <br>
    </div>
</div>
</div>