.navbar-nav>.user-menu>.dropdown-menu>li.user-header {
    height: auto;
}

.ng-isolate-scope {
    /*border-top: 1px solid #ddd;*/
}

.delete-btn {
    background: transparent;
    border: none;
    padding: 0;
}

.btn.delete-btn.pull-right {
    color: #9d1f1f;
}

select {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #d2d6de;
    border-radius: 0;
    color: #666666;
    padding: 10px;
    width: 100%;
}

.navbar {
    padding: 0px 0;
}

.green-BG {
    background: #75ff0f!important;
    color: #ffffff !important;
}

.red-BG {
    background: #ff420f!important;
    color: #ffffff !important;
}

.yellow-BG {
    /* background: #ffe00f !important; */
    color: #ffffff !important;
}


/*.gray-BG {background: :;}*/

.skin-blue .sidebar-menu>li.active>a {
    background-color: #3c8dbc;
}

.form-group.required .control-label:after {
    content: "*";
    color: red;
    position: absolute;
    margin-top: 3px;
}

.faxbtnInp{
    width: 10%;
    float: left;
}
.faxBInp{
 width: 90%;
}

.info{
    font-size: small;
    color: gray;
    background-color: beige;
    border: 1px solid rgb(130, 85, 73);
    border-radius: 5px;
    padding: 2px;
}


.userName{ display: block; }
                    .accountInfo {
    /* display: inline-block; */
    position: absolute;
    left: 4px;
    bottom: 10px;
    line-height: 17px;
}
.dropdown.user.user-menu.usermenuCst {
    width: 150px;
}
.userName >  .user-image{ width:40px!important; height: 40px!important; }
@media(max-width:1024px) {
.accountInfo {
    /* display: inline-block; */
    position: inherit;padding-top: 20px;
    display: block;}
.userName {
    padding-top: 10px;
}
.navbar-nav>.user-menu .user-image {
       margin-right: 15px;
}

}
#preloader { 
    position: fixed; 
    left: 0; 
    top: 0; 
    z-index: 999; 
    width: 100%; 
    height: 100%; 
    overflow: visible; 
    background:rgba(0,0,0,0.5) url(../images/loading.gif) no-repeat center center;
    background-size: 70px 70px;
}