<style>
    .pdf_table table td {
        border: none !important;
    }
    
    .pdf_table .from-input {
        float: none !important;
        width: 100% !important;
    }
    
    .pdf_table .form-group .from-label {
        text-align: left !important;
        width: auto !important;
    }
</style>
<div class="login-box" ng-controller="userLoginController">
    <div class="login-logo" ng-init="loginAsUser();">
        <!-- <a href="/#"><img src="./../../assets/images/logo_new.png" alt="logo" /></a> -->
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body" style="font-size: 20px;">
        Please wait...
        <i class="fa fa-refresh fa-spin" style="font-size:29px; float: right;"></i>
    </div>
    </form>

    <br>
</div>

</div>