<div id='prescription'>
<div class="row" style="border-bottom: 2px solid black;">
<div class="col-sm-6">
	<h2>Suman Chakraborty</h2>
	</div>
	<div class="col-sm-6">
		<span style="float: right;"><img src="./../../assets/images/logo_new.png" alt=""></span>
	    <div class="clearfix"></div>
		<span style="float: right;max-width: 262px;font-weight: 100;font-size: small;">Join Which Docs for hassle free service. For more details please visit nowicanseeyou.com </span>
	</div>
</div>
<div class="row" style="min-height: 500px; border-bottom: 2px solid black;">
	<div class="col-sm-6" style="padding-top: 20px;">
		<p style="margin-right: 5px;"> <b>Patient Name:</b> Arvind Belman</p></n>
		<p style="margin-right: 5px;"> <b>Service Required:</b> X-Ray</p></n>
		<br>
		<p style="margin-right: 5px;"> <b>Referred To:</b> Arvind Belman</p></n>
		<p style="margin-right: 5px;"> <b>Address:</b> 112, XYZ Road, Nagpur, 20001</p></n>
		<p style="float: left; margin-right: 5px;"> <b>Phone NO:</b></p> 
		<span style="float: left;">
			<p> 8001800545 (O)</p>
			<p> 4433443344(M)</p>
			<p> 4433443344(FAX)</p>
		</span>
	</div>
	<div class="col-sm-6" style="padding-top: 20px;">
	<p style="float: right;"> Time: 10:20 AM 11-10-2017</p>
	</div>
</div>
<div style=" border-bottom: 2px solid black;">
        <div style="width: 100%; padding-top: 20px;">
            <p>
            {{referredDocLname }}: This patient was referred to your office using Which Docs. You can confirm and track the status of this referral and others on your Which Docs dashboard.
            </p>
            <p>
            Which Docs makes referring patients easy and trackable.  If you haven't logged in already, you can sign up for free using  the log-in info sent to you by fax or email at the time of this referral, or create a free account at whichdocs.com.
            </p>
        </div>
        <div style="clear: both;"></div>
    </div>
</div>