<div class="content-wrapper main-inner" >
    <section class="">
        <div class="container">
            <div class="box">
                <div class="box-body">
                    <span class="pull-right" title="Help" ng-click="showFaq('patient_lookup');"><a style="cursor:pointer" ><i class="fa fa-info-circle" style="font-size:3em"></i></a></span>
                    <div class="row">
                    <div class="row patientLookupTop"  >
                        <div class="col-sm-6 patientLookup spslsm6 fleft" md-whiteframe="12" >
                            <div class="arrow-row">
                                <h2 class="box-title-main">Search For or Add a Patient</h2>
                            </div>
                            <div class="arrow-row">
                                <h2 class="box-title-main"></h2>
                            </div>
                            <div class="form-group">
                                <label for="email">First Name :</label>
                                <div>
                                    <input type="text" autocomplete="off" class="form-control" id="email" placeholder="Enter first name" name="" ng-model="search.firstName">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="pwd">Last Name :</label>
                                <div>
                                    <input type="text" autocomplete="off" class="form-control" id="pwd" placeholder="Enter last Name" name="pwd" ng-model="search.lastName">
                                </div>
                            </div>
                            <div class="form-group" style="margin-top: 15px;">
                                <button type="submit" class="btn btn-primary" ng-click="getPatients(search)" ng-disabled="!search">Search</button>
                                <button type="submit" class="btn btn-primary" ng-click="addPatient(search)">Add New</button>
                            </div>
                        </div>
                        <div class="col-sm-12 patientLookupList" md-whiteframe="2" ng-if="patientInfo">
                            <div class="table-responsive" ng-if="patientInfo.length>0">
                                <table class="table table-striped">
                                    <tr>
                                        <th class="colorBG" width="35%">First Name </th>
                                        <th class="colorBG" width="30%">Last Name</th>
                                        <th class="colorBG" width="10%">Email </th>
                                        <th class="colorBG" width="10%">Phone No. </th>
                                        <th class="colorBG" width="10%">Action </th>
                                    </tr>
                                    <tr ng-repeat="patient in patientInfo">
                                        <td>{{patient.firstName}}</td>
                                        <td>{{patient.lastName}}</td>
                                        <td>{{patient.email}}</td>
                                        <td>{{patient.contact_no |phonenumber}}</td>
                                        <td>
                                            <button ng-click="addPatient(patient)" type="submit" class="btn btn-primary">Select</button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="box-body" style="background-color: white; margin-bottom: 18px;" ng-if="patientInfo.length === 0"> No patient found...</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>