<div class="content-wrapper">
    <section class="">
        <div class="container" ng-init="getFrontdeskTitles()">
            <h3>Add Front Desk User to the Network</h3>
            <form class="form-horizontal" name="addForm">
                
                <div class="form-group required">
                    <label class="control-label col-sm-3" for="pwd" style="text-align:left">First Name :</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="" placeholder="Enter first name" name="firstname" ng-pattern="/^[a-zA-Z '-\s]*$/"
                            ng-model="doctor.firstname" required>
                        <span ng-if="addForm.firstname.$touched && addForm.firstname.$dirty && addForm.firstname.$error.required" class="help-block"
                            style="color:maroon">First name required</span>
                        <span class="" ng-show="addForm.firstname.$error.pattern" style="color:maroon">First name should not contain digit.</span>
                    </div>
                </div>
                <div class="form-group required">
                    <label class="control-label col-sm-3" for="pwd" style="text-align:left">Last Name :</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="" placeholder="Enter last name" name="lastname" ng-pattern="/^[a-zA-Z '-\s]*$/"
                            ng-model="doctor.lastname" required>
                        <span ng-show="addForm.lastname.$touched && addForm.lastname.$error.required && addForm.lastname.$dirty" class="help-block"
                            style="color:maroon" required>Last name required</span>
                        <span class="" ng-show="addForm.lastname.$error.pattern" style="color:maroon">Last name should not contain digit.</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="officeadminTitle" class="control-label col-sm-3" style="text-align:left">Title:</label>
                    <div class="col-sm-8">
                        <select class="form-control" id="officeadminTitle" placeholder="Title" name="officeadminTitle" ng-model="doctor.officeadminTitle">
                            <option ng-repeat="item in officeadminTitleArr" value="{{item._id}}" ng-selected="item._id == doctor.officeadminTitle">{{item.name}}</option>
                        </select>
                        <span ng-if="addForm.officeadminTitle.$touched && addForm.officeadminTitle.$dirty && addForm.officeadminTitle.$error.required" class="help-block" style="color:maroon">Title Required</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3" for="pwd" style="text-align:left">Address Line 1 :</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="" placeholder="Address Line 1" name="location" gm-places-autocomplete ng-model="doctor.location" >
                        <span ng-show="addForm.location.$touched && addForm.location.$error.required && addForm.location.$dirty" class="help-block"
                            style="color:maroon" required>Address Line 1 is required</span>
                        <span class="" ng-show="addForm.location.$error.pattern" style="color:maroon">Address Line 1 does not contain special character.</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3" for="pwd" style="text-align:left">Address Line 2 :</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="" placeholder="Address Line 2" name="sute" ng-maxlength="30" maxlength="31" ng-model="doctor.sute">
                        <!--<span ng-show="addForm.sute.$touched && addForm.sute.$error.required && addForm.sute.$dirty" class="help-block" style="color:maroon" required>Suite is required</span>-->
                        <!--<span class="" ng-show="addForm.sute.$error.pattern" style="color:maroon">Suite does not contain small letter and special character.</span>-->
                        <span class="" ng-show="addForm.sute.$error.maxlength" style="color:maroon">Too long. Use 30 characters or less.</span>
                    </div>
                </div>
                <div class="form-group ">
                    <label class="control-label col-sm-3" for="pwd" style="text-align:left">City :</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="" placeholder="City" name="city" ng-pattern="/^[a-zA-Z]+(?:[\s-][a-zA-Z]+)*$/"
                            ng-maxlength="30" maxlength="31" ng-model="doctor.city" >
                        <span ng-show="addForm.city.$touched && addForm.city.$error.required && addForm.city.$dirty" class="help-block" style="color:maroon"
                            required>City is required</span>
                        <span class="" ng-show="addForm.city.$error.pattern" style="color:maroon">Please enter valid city name.</span>
                        <span class="" ng-show="addForm.city.$error.maxlength" style="color:maroon">Too long. Use 30 characters or less.</span>
                    </div>
                </div>
                <div class="form-group ">
                    <label class="control-label col-sm-3" for="pwd" style="text-align:left">State :</label>
                    <div class="col-sm-8">
                        <select class="form-control" id="" placeholder="State" name="state" ng-model="doctor.state" ng-options="items.abbreviation as items.abbreviation for items in usStates"
                            ></select>
                        <!--<input type="text" class="form-control" id="" placeholder="State" name="state"   ng-pattern="/^[a-zA-Z]+(?:[\s-][a-zA-Z]+)*$/" ng-model="doctor.state" ng-maxlength="30" maxlength="31" required>-->
                        <span ng-show="addForm.state.$touched && addForm.state.$error.required && addForm.state.$dirty" class="help-block" style="color:maroon"
                            required>State is required</span>
                        <!--<span class="" ng-show="addForm.state.$error.pattern" style="color:maroon">Please enter valid state name.</span>
                        <span class="" ng-show="addForm.state.$error.maxlength" style="color:maroon">Too long. Use 30 characters or less.</span>-->
                    </div>
                </div>
                <div class="form-group ">
                    <label class="control-label col-sm-3" for="pwd" style="text-align:left">Zip Code :</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="" placeholder="Zip code" name="zipcode" ng-pattern="/^[0-9]*$/" maxlength="6"
                            ng-minlength="5" ng-maxlength="5" ng-model="doctor.zipcode" >
                        <span ng-show="addForm.zipcode.$touched && addForm.zipcode.$error.required && addForm.zipcode.$dirty" class="help-block"
                            style="color:maroon" required>Zip code is required</span>
                        <span class="" ng-show="addForm.zipcode.$error.pattern" style="color:maroon">Zip code contain only digit.</span>
                        <span class="" ng-show="addForm.zipcode.$error.maxlength" style="color:maroon">Allowed 5 digit for zip code.</span>
                        <span class="" ng-show="addForm.zipcode.$error.minlength" style="color:maroon">Allowed only 5 digit for zip code.</span>
                    </div>
                </div>
                <div class="form-group required">
                    <label class="control-label col-sm-3" for="pwd" style="text-align:left">Email :</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="" placeholder="Enter email address" name="email" ng-model="doctor.email" ng-pattern="/^[_a-zA-Z0-9-]+(\.[_a-zA-Z0-9-]+)*@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*(\.[a-zA-Z]{2,4})$/"
                            required>
                        <span ng-show="addForm.email.$touched && addForm.email.$error.required && addForm.email.$dirty" class="help-block" style="color:maroon"
                            required>Email address required.</span>
                        <span ng-if="addForm.email.$error.pattern" style="color:maroon">Invalid email address</span>
                    </div>
                </div>
                <div class="form-group ">
                    <label class="control-label col-sm-3" for="phone_number" style="text-align:left">Office Phone :</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="phone_number" name="phone_number" ng-model="doctor.phone_number" ui-mask="999-999-9999"
                            >
                        <span ng-show="addForm.phone_number.$touched && addForm.phone_number.$error.required && addForm.phone_number.$dirty" class="help-block"
                            style="color:maroon" required>Phone number required.</span>
                    </div>
                </div>
                <div class="form-group ">
                    <label class="control-label col-sm-3" for="phone_number" style="text-align:left">Office Fax Number :</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="fax" name="fax" ng-model="doctor.fax" ui-mask="999-999-9999" >
                        <span ng-show="addForm.fax.$touched && addForm.fax.$error.required && addForm.fax.$dirty" class="help-block" style="color:maroon"
                            required>Office fax number required.</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3" for="cell_phone" style="text-align:left">Mobile Number:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="cell_phone" name="cell_phone" ng-model="doctor.cell_phone" ui-mask="999-999-9999">
                        <span ng-show="addForm.cell_phone.$touched && addForm.cell_phone.$error.required && addForm.cell_phone.$dirty" class="help-block"
                            style="color:maroon" required>Office fax number required.</span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-3" for="" style="text-align:left"></label>
                    <div class="col-sm-8">
                        <a href="#/admindashboard"><button type="button" class="btn btn-primary" >Back to dashboard</button></a>
                        <button type="submit" class="btn btn-primary" ng-click="addOfficeAdmin(doctor); done = true;" ng-disabled="addForm.$invalid || done ">Add to network</button>
                    </div>
                </div>
            </form>
        </div>
</div>