<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <section class="content">
        <div class="row" ng-init="getDoctorsList(); getAvailableServices()">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="box">
                    <div class="box-header with-border super-patient-header">
                        <div class="row">
                            <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                                <h3 class="box-title"><span class="latest-c-icon"><img src="../assets/images/latest_order_icon.png" alt=""/></span>Provider's List</h3>
                            </div>
                            <div class="row">
                                <div class="input-group pad-30-top-admin" style="max-width: 882px; margin-left: 10px;">
                                    <input type="text" placeholder=" Search..." ng-model="doctor.searchTextField" class="super-doc-search-txt form-control">
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary sup-doc-search-icon" style="margin-left: 5px;" ng-click="searchable(doctor, false)">Search</button>
                                        <button class="btn btn-primary sup-doc-search-icon" style="margin-left: 5px;" ng-click="resetSearch(false)">reset</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body" style="margin-top: auto;">
                        <div style="position: absolute;top: 50%;left: 50%; z-index: 1000;" ng-if="loading">
                            <i class='fa fa-refresh fa-spin fa-3x' style="color: #3eb8d7;"></i>
                        </div>
                        <div class="table-responsive min-margin-15">
                            <table ng-table="tableParams" class="table table-striped" show-filter="true">
                                <tr ng-repeat="user in doctorList">
                                    <td title="'Provider First Name'" sortable="'insfirstname'">
                                        {{user.firstname}}</td>
                                    <td title="'Provider Last Name'" sortable="'inslastname'">
                                        {{user.lastname}}</td>
                                    <td title="'Site'" sortable="'centername'">
                                        {{user.centername}}</td>    
                                    <td title="'Email'" sortable="'email'">
                                        {{user.email}}</td>
                                    <td title="'Office Phone'" sortable="'phone_number'">
                                        {{user.phone_number |phonenumber}}</td>
                                    <td title="'Invited By'" sortable="'created_by'">
                                        {{user.created_by}}</td>
                                    <td title="'Action'">
                                        <span title="Edit"><a ui-sref="editDoctor({id:user._id})" style="cursor:pointer"><i class="icon-2x fa fa-pencil" style="font-size:2em"></i></a></span>
                                        <span title="Delete"><a href="javascript:void(0)" ng-click="isDelete($index,user.email)"><i class="fa fa-trash-o" aria-hidden="true" style="font-size:2em"></i></a></span>
                                        <span title="{{ user.status ==='1' ? 'In-active' : 'Active'}}" title="Change Status"><a href="javascript:void(0)" ng-click="changeStatus(user._id, user.status)"><i ng-class="user.status ==='1'? 'icon-1x fa fa-remove': 'icon-1x fa fa-check'" aria-hidden="true" style="font-size:2em"></i></a></span>
                                        <span title="Reset Password"><a href="javascript:void(0)" ng-click="resetPass(user._id)"><i class="fa fa-refresh" aria-hidden="true" style="font-size:1.8em"></i></a></span>
                                        <span><a href="javascript:void(0)" ng-click="resendInvite(user)" ng-if="user.firstLogin"><i title="Resend Invitation" style="font-size:2em" class="fa fa-reply" aria-hidden="true"></i></a><i ng-if="!user.firstLogin" style="font-size:2em; color:green" title="Already Registered" class="fa fa-check" aria-hidden="true" ></i></span>
                                    </td>
                                </tr>
                                <tr ng-if="tableLoader">
                                    <td colspan="7" align="center">
                                        <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                                    </td>
                                </tr>
                                <tr ng-if="doctorList.length == 0 && !tableLoader">
                                    <td colspan="7" align="center">No record Found</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>